.container {
	margin: 2rem;
	font-family: 'Poppins', sans-serif;
	color: white;
  }
  .container h4{
	font-weight: normal;
  }
  .cuerpo {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1rem;
  }
  .cuerpo > div {
	background: #1d1d1d;
	border-radius: 12px;
	overflow: hidden;
	/* background: #EDE7F6; */
	/*padding: 1rem;
	border-radius: 1rem;*/
  }

  .login-logout{
	margin: 1em;
  }
  @media (max-width: 460px) {
	.header{
		flex-direction: column;
		align-items: center;
		background-color: #c51162;
		color: white;
		padding: .5em;
	}
	.header .link li a{
		text-decoration: none;
		color: white
	}
	.header h1{
		margin: 0px;
		padding-left: 0px;
	}
  }